'.source.nsis.bridle':
  'Abort()':
    'prefix': 'Abort()'
    'body': 'Abort("${1:user_message}")$2'
  'BringToFront()':
    'prefix': 'BringToFront()'
    'body': 'BringToFront()$1'
  'Call()':
    'prefix': 'Call()'
    'body': 'Call("${1:name}")$2'
  'CallInstDLL()':
    'prefix': 'CallInstDLL()'
    'body': 'CallInstDLL("${1:dll_file}", "${2:function_name}"'
  'ClearErrors()':
    'prefix': 'ClearErrors()'
    'body': 'ClearErrors()$1'
  'Copy()':
    'prefix': 'Copy()'
    'body': 'Copy("${1:file}", "${2:target}")$3'
  'CreateDirectory()':
    'prefix': 'CreateDirectory()'
    'body': 'CreateDirectory("${1:path_to_create}")$3'
  'CreateFont()':
    'prefix': 'CreateFont()'
    'body': 'CreateFont("${1:face_name}",${2: "${3:height}"${4:, "${5:weight}"${6:, ${7:/ITALIC}${8:, ${9:/UNDERLINE}${10:, ${11:/STRIKE}}}}}})$12'
  'CreateShortCut()':
    'prefix': 'CreateShortCut()'
    'body': 'CreateShortCut("${1:link}.lnk", "${2:target_file}"${3:, "${4:parameters}"${5:, "${6:icon_file}"${7:, ${8:icon_index_number}${9:, ${10:start_options}${11:, ${12:keyboard_shortcut}${13:, "${14:description}"}}}}}}})$15'
  'Delete()':
    'prefix': 'Delete()'
    'body': 'Delete("${1:source}"${2:, "${3:rebootok}"})$4'
  'DeleteINISec()':
    'prefix': 'DeleteINISec()'
    'body': 'DeleteINISec("${1:ini_filename}", "${2:section_name}")$4'
  'DeleteINIStr()':
    'prefix': 'DeleteINIStr()'
    'body': 'DeleteINIStr("${1:ini_filename}", "${2:section_name}", "${3:str_name}")$4'
  'DeleteRegKey()':
    'prefix': 'DeleteRegKey()'
    'body': 'DeleteRegKey("${1:rootkey}", "${2:subkey}"}${3:, "${4:options}"})$5'
  'DeleteRegValue()':
    'prefix': 'DeleteRegValue()'
    'body': 'DeleteRegValue("${1:root_key}", "${2:subkey}", "${3:key_name}")$4'
  'DetailPrint()':
    'prefix': 'DetailPrint()'
    'body': 'DetailPrint("${1:user_message}")$2'
  'Do Until..Loop':
    'prefix': 'Do Until..Loop'
    'body': """
      Do Until ${1:condition}
      \t${4:# your code here}
      Loop$5
    """
  'Do While..Loop':
    'prefix': 'Do While..Loop'
    'body': """
      Do While ${1:condition}
      \t${4:# your code here}
      Loop$5
    """
  'EnableWindow()':
    'prefix': 'EnableWindow()'
    'body': 'EnableWindow(${1:hwnd}, ${2:value})$3'
  'EnumRegKey()':
    'prefix': 'EnumRegKey()'
    'body': 'EnumRegKey("${1:root_key}", "${2:subkey}", "${3:index}")$4'
  'EnumRegValue()':
    'prefix': 'EnumRegValue()'
    'body': 'EnumRegValue("${1:root_key}", "${2:subkey}", "${3:index}")$4'
  'Exch()':
    'prefix': 'Exch()'
    'body': 'Exch(${1:user_var})$2'
  'Exec()':
    'prefix': 'Exec()'
    'body': 'Exec("${1:command}")$2'
  'ExecShell()':
    'prefix': 'ExecShell()'
    'body': 'ExecShell("${1:action}", "${2:command}"${3:, ${4:parameter}})$5'
  'ExecWait()':
    'prefix': 'ExecWait()'
    'body': 'ExecWait("${1:command}")$2'
  'ExpandEnvStrings()':
    'prefix': 'ExpandEnvStrings()'
    'body': 'ExpandEnvStrings("${1:string}")$2'
  'File()':
    'prefix': 'File()'
    'body': 'File("${1:file}"${2:, "${3:options}"${4:, "${5:outpath}"}})$6'
  'FileClose()':
    'prefix': 'FileClose()'
    'body': 'FileClose(${1:handle})$2'
  'FileCopy()':
    'prefix': 'FileCopy()'
    'body': 'FileCopy("${1:file}", "${2:target}")$3'
  'FileDelete()':
    'prefix': 'FileDelete()'
    'body': 'FileDelete("${1:source}"${2:, "${3:rebootok}"})$4'
  'FileOpen()':
    'prefix': 'FileOpen()'
    'body': 'FileOpen("${1:filename}", ${2:open_mode})$3'
  'FileRead()':
    'prefix': 'FileRead()'
    'body': 'FileRead(${1:handle}, ${2:maxlen})$3'
  'FileReadByte()':
    'prefix': 'FileReadByte()'
    'body': 'FileReadByte(${1:handle}, ${2:maxlen})$3'
  'FileReadUTF16LE()':
    'prefix': 'FileReadUTF16LE()'
    'body': 'FileReadUTF16LE(${1:handle}, ${2:maxlen})$3'
  'FileReadWord()':
    'prefix': 'FileReadWord()'
    'body': 'FileReadWord(${1:handle}, ${2:maxlen})$3'
  'FileRename()':
    'prefix': 'FileRename()'
    'body': 'FileRename("${1:source}", "${2:target}"${3:, "${4:options}"}})$5'
  'FileSeek()':
    'prefix': 'FileSeek()'
    'body': 'FileSeek(${1:handle}, ${2:offset}${3:, ${4:mode}${5:, ${6:user_var}}})$7'
  'FileWrite()':
    'prefix': 'FileWrite()'
    'body': 'FileWrite(${1:handle})$2'
  'FileWriteByte()':
    'prefix': 'FileWriteByte()'
    'body': 'FileWriteByte(${1:handle}, "${2:string}")$3'
  'FileWriteUTF16LE()':
    'prefix': 'FileWriteUTF16LE()'
    'body': 'FileWriteUTF16LE(${1:handle}, "${2:string}")$3'
  'FileWriteWord()':
    'prefix': 'FileWriteWord()'
    'body': 'FileWriteWord(${1:handle}, "${2:string}")$3'
  'FindClose()':
    'prefix': 'FindClose()'
    'body': 'FindClose(${1:handle})$2'
  'FindNext()':
    'prefix': 'FindNext()'
    'body': 'FindNext(${1:handle})$2'
  'FindWindow()':
    'prefix': 'FindWindow()'
    'body': 'FindWindow("${1:windowclass}", "${2:windowtitle}"${3:, ${4:windowparent}${5:, ${6:childafter}}})$7'
  'FlushINI()':
    'prefix': 'FlushINI()'
    'body': 'FlushINI("${1:ini_filename}")$2'
  'Function()':
    'prefix': 'Function()'
    'body': """
      Function ${1:function_name}(${2:parameters})
      \t${5:# your code here}
      FunctionEnd$6
    """
  'GetCurInstType()':
    'prefix': 'GetCurInstType()'
    'body': 'GetCurInstType()$1'
  'GetCurrentAddress()':
    'prefix': 'GetCurrentAddress()'
    'body': 'GetCurrentAddress()$1'
  'GetDlgItem()':
    'prefix': 'GetDlgItem()'
    'body': 'GetDlgItem(${1:dialog}, ${2:item_id})$3'
  'GetErrorLevel()':
    'prefix': 'GetErrorLevel()'
    'body': 'GetErrorLevel()$1'
  'GetFullPathName()':
    'prefix': 'GetFullPathName()'
    'body': 'GetFullPathName("${1:path}"${2:, "${3:options}"})$4'
  'GetFunctionAddress()':
    'prefix': 'GetFunctionAddress()'
    'body': 'GetCurrentAddress("${1:function_name}")$2'
  'GetInstDirError()':
    'prefix': 'GetInstDirError()'
    'body': 'GetInstDirError()$1'
  'GetLabelAddress()':
    'prefix': 'GetLabelAddress()'
    'body': 'GetLabelAddress("${1:label}")$2'
  'GetTempFileName()':
    'prefix': 'GetTempFileName()'
    'body': 'GetTempFileName(${1:\$${2:base_dir}})$3'
  'Goto()':
    'prefix': 'Goto()'
    'body': 'Goto(${1:name})$2'
  'HideWindow()':
    'prefix': 'HideWindow()'
    'body': 'HideWindow()$1'
  'If Not':
    'prefix': 'If Not'
    'body': """
      If Not ${1:condition}
      \t${4:# your code here}
      EndIf$5
    """
  'If Not..Else':
    'prefix': 'If Not..Else'
    'body': """
      If Not ${1:condition}
      \t${4:# your code here}
      Else
      \t${5:# your code here}
      EndIf$6
    """
  'If Not..ElseIf':
    'prefix': 'If Not..ElseIf'
    'body': """
      If Not ${1:condition}
      \t${4:# your code here}
      ElseIf
      \t${5:# your code here}
      EndIf$6
    """
  'If':
    'prefix': 'If'
    'body': """
      If ${1:condition}
      \t${4:# your code here}
      EndIf$5
    """
  'If..Else':
    'prefix': 'If..Else'
    'body': """
      If ${1:condition}
      \t${4:# your code here}
      Else
      \t${5:# your code here}
      EndIf$6
    """
  'If..ElseIf':
    'prefix': 'If..ElseIf'
    'body': """
      If ${1:condition}
      \t${4:# your code here}
      ElseIf
      \t${5:# your code here}
      EndIf$6
    """
  'InitPluginsDir()':
    'prefix': 'InitPluginsDir()'
    'body': 'InitPluginsDir()$1'
  'InstTypeGetText()':
    'prefix': 'InstTypeGetText()'
    'body': 'InstTypeGetText(${1:inst_type_idx})$2'
  'InstTypeSetText()':
    'prefix': 'InstTypeSetText()'
    'body': 'InstTypeSetText(${1:inst_type_idx}, "${2:text}")$3'
  'IntCmp()':
    'prefix': 'IntCmp()'
    'body': 'IntCmp(${1:val1}, ${2:val2}, ${3:jump_if_equal}${4:, ${5:jump_if_val1_less}${6:, ${7:jump_if_val1_more}}})$8'
  'IntFmt()':
    'prefix': 'IntFmt()'
    'body': 'IntFmt(${1:format}, ${2:numberstring})$3'
  'IntOp()':
    'prefix': 'IntOp()'
    'body': 'IntOp(${1:value1}, ${2:op}, ${3:value2})$4'
  'LangString()':
    'prefix': 'LangString()'
    'body': 'LangString(${1:name}, \$\{LANG_${2:language_id}\}, "${3:string}")$4'
  'LicenseLangString()':
    'prefix': 'LicenseLangString()'
    'body': 'LicenseLangString(${1:name}, \$\{LANG_${2:language_id}\}, "${3:license_path}")$4'
  'LoadLanguageFile()':
    'prefix': 'LoadLanguageFile()'
    'body': 'LoadLanguageFile("${1:language_file_nlf}")$2'
  'LockWindow()':
    'prefix': 'LockWindow()'
    'body': 'LockWindow(${1:value})$2'
  'LockWindow(off)':
    'prefix': 'LockWindow(off)'
    'body': 'LockWindow(off)$1'
  'LockWindow(on)':
    'prefix': 'LockWindow(on)'
    'body': 'LockWindow(on)$1'
  'LogSet()':
    'prefix': 'LogSet()'
    'body': 'LogSet(${1:value})$2'
  'LogSet(off)':
    'prefix': 'LogSet(off)'
    'body': 'LogSet(off)$1'
  'LogSet(on)':
    'prefix': 'LogSet(on)'
    'body': 'LogSet(on)$1'
  'LogText()':
    'prefix': 'LogText()'
    'body': 'LogText("${1:text}")$2'
  'MsgBox()':
    'prefix': 'MsgBox()'
    'body': 'MsgBox("${1:buttons}", "${2:message}"${3:, ${4:options}${5:, ${6:sd}}})$7'
  'MsgBox(ABORTRETRYIGNORE)':
    'prefix': 'MsgBox(ABORTRETRYIGNORE)'
    'body': 'MsgBox("ABORTRETRYIGNORE", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'MsgBox(OK)':
    'prefix': 'MsgBox(OK)'
    'body': 'MsgBox("OK", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'MsgBox(OKCANCEL)':
    'prefix': 'MsgBox(OKCANCEL)'
    'body': 'MsgBox("OKCANCEL", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'MsgBox(RETRYCANCEL)':
    'prefix': 'MsgBox(RETRYCANCEL)'
    'body': 'MsgBox("RETRYCANCEL", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'MsgBox(YESNO)':
    'prefix': 'MsgBox(YESNO)'
    'body': 'MsgBox("YESNO", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'MsgBox(YESNOCANCEL)':
    'prefix': 'MsgBox(YESNOCANCEL)'
    'body': 'MsgBox("YESNOCANCEL", "${1:message}"${2:, ${3:options}${4:, ${5:sd}}})$6'
  'Pop()':
    'prefix': 'Pop()'
    'body': '${1:user_var} = Pop()$2'
  'Push()':
    'prefix': 'Push()'
    'body': 'Push(${1:string})$2'
  'Quit()':
    'prefix': 'Quit()'
    'body': 'Quit()$1'
  'ReadEnvStr()':
    'prefix': 'ReadEnvStr()'
    'body': 'ReadEnvStr(${1:name})$2'
  'ReadINIStr()':
    'prefix': 'ReadINIStr()'
    'body': 'ReadINIStr("${1:ini_filename}", "${2:section_name}", "${3:entry_name}")$4'
  'ReadRegDWORD()':
    'prefix': 'ReadRegDWORD()'
    'body': 'ReadRegDWORD("${1:root_key}", "${2:sub_key}", "${3:name}")$4'
  'ReadRegStr()':
    'prefix': 'ReadRegStr()'
    'body': 'ReadRegStr("${1:root_key}", "${2:sub_key}", "${3:name}")$4'
  'Reboot()':
    'prefix': 'Reboot()'
    'body': 'Reboot()$1'
  'RegDLL()':
    'prefix': 'RegDLL()'
    'body': 'RegDLL("${1:file}"${2:, ${3:options}})$4'
  'Rename()':
    'prefix': 'Rename()'
    'body': 'Rename("${1:source}", "${2:target}"${3:, "${4:options}"})$5'
  'ReserveFile()':
    'prefix': 'ReserveFile()'
    'body': 'ReserveFile("${1:file}"${2:, "${3:options}"})$4'
  'RMDir()':
    'prefix': 'RMDir()'
    'body': 'RMDir("${1:directory}"${2:, "${3:options}"})$4'
  'SearchPath()':
    'prefix': 'SearchPath()'
    'body': 'SearchPath("${1:filename}")$2'
  'SectionGetFlags()':
    'prefix': 'SectionGetFlags()'
    'body': 'SectionGetFlags(${1:section_index})$2'
  'SectionGetInstTypes()':
    'prefix': 'SectionGetInstTypes()'
    'body': 'SectionGetInstTypes(${1:section_index})$2'
  'SectionGetSize()':
    'prefix': 'SectionGetSize()'
    'body': 'SectionGetSize(${1:section_index})$2'
  'SectionSetFlags()':
    'prefix': 'SectionSetFlags()'
    'body': 'SectionSetFlags(${1:section_index}, ${2:inst_types})$3'
  'SectionSetInstTypes()':
    'prefix': 'SectionSetInstTypes()'
    'body': 'SectionSetInstTypes(${1:section_index}, ${2:section_flags})$3'
  'SectionSetSize()':
    'prefix': 'SectionSetSize()'
    'body': 'SectionSetSize(${1:handle}, ${2:maxlen})$3'
  'SectionSetText()':
    'prefix': 'SectionSetText()'
    'body': 'SectionSetText(${1:section_index}, "${2:section_text}")$3'
  'SendMessage()':
    'prefix': 'SendMessage()'
    'body': 'SendMessage(${1:hwnd}, ${2:msg}, ${3:wparam}, ${4:lparam}${5:, ${6:timeout_in_ms}})$7'
  'SetAutoClose()':
    'prefix': 'SetAutoClose()'
    'body': 'SetAutoClose(${1:value})$2'
  'SetAutoClose(false)':
    'prefix': 'SetAutoClose(false)'
    'body': 'SetAutoClose(false)$2'
  'SetAutoClose(true)':
    'prefix': 'SetAutoClose(true)'
    'body': 'SetAutoClose(true)$2'
  'SetCtlColors()':
    'prefix': 'SetCtlColors()'
    'body': 'SetCtlColors(${1:hwnd}${2:, ${3:branding}}, ${4:text_color}, ${5:bg_color})$6'
  'SetCurInstType()':
    'prefix': 'SetCurInstType()'
    'body': 'SetCurInstType(${1:inst_type_idx})$2'
  'SetDetailsPrint()':
    'prefix': 'SetDetailsPrint()'
    'body': 'SetDetailsPrint(${1:value})$2'
  'SetDetailsPrint(both)':
    'prefix': 'SetDetailsPrint(both)'
    'body': 'SetDetailsPrint(both)$1'
  'SetDetailsPrint(lastused)':
    'prefix': 'SetDetailsPrint(lastused)'
    'body': 'SetDetailsPrint(lastused)$1'
  'SetDetailsPrint(listonly)':
    'prefix': 'SetDetailsPrint(listonly)'
    'body': 'SetDetailsPrint(listonly)$1'
  'SetDetailsPrint(none)':
    'prefix': 'SetDetailsPrint(none)'
    'body': 'SetDetailsPrint(none)$1'
  'SetDetailsPrint(textonly)':
    'prefix': 'SetDetailsPrint(textonly)'
    'body': 'SetDetailsPrint(textonly)$1'
  'SetDetailsView()':
    'prefix': 'SetDetailsView()'
    'body': 'SetDetailsView(${1:value})$2'
  'SetDetailsView(hide)':
    'prefix': 'SetDetailsView(hide)'
    'body': 'SetDetailsView(hide)$1'
  'SetDetailsView(show)':
    'prefix': 'SetDetailsView(show)'
    'body': 'SetDetailsView(show)$1'
  'SetErrorLevel()':
    'prefix': 'SetErrorLevel()'
    'body': 'SetErrorLevel(${1:error_level})$2'
  'SetErrorLevel(0)':
    'prefix': 'SetErrorLevel(0)'
    'body': 'SetErrorLevel(0)$1'
  'SetErrorLevel(1)':
    'prefix': 'SetErrorLevel(1)'
    'body': 'SetErrorLevel(1)$1'
  'SetErrorLevel(2)':
    'prefix': 'SetErrorLevel(2)'
    'body': 'SetErrorLevel(2)$1'
  'SetErrors()':
    'prefix': 'SetErrors()'
    'body': 'SetErrors()$1'
  'SetFileAttributes()':
    'prefix': 'SetFileAttributes()'
    'body': 'SetFileAttributes("${1:filename}", ${2:attributes})$3'
  'SetOutPath()':
    'prefix': 'SetOutPath()'
    'body': 'SetOutPath("${1:path}")$2'
  'SetRebootFlag()':
    'prefix': 'SetRebootFlag()'
    'body': 'SetRebootFlag(${1:value})$2'
  'SetRebootFlag(false)':
    'prefix': 'SetRebootFlag(false)'
    'body': 'SetRebootFlag(false)$1'
  'SetRebootFlag(true)':
    'prefix': 'SetRebootFlag(true)'
    'body': 'SetRebootFlag(true)$1'
  'SetRegView()':
    'prefix': 'SetRegView()'
    'body': 'SetRegView(${1:value})$2'
  'SetRegView(32)':
    'prefix': 'SetRegView(32)'
    'body': 'SetRegView(32)$1'
  'SetRegView(64)':
    'prefix': 'SetRegView(64)'
    'body': 'SetRegView(64)$1'
  'SetRegView(lastused)':
    'prefix': 'SetRegView(lastused)'
    'body': 'SetRegView(lastused)$1'
  'SetShellVarContext()':
    'prefix': 'SetShellVarContext()'
    'body': 'SetShellVarContext(${1:value})$2'
  'SetShellVarContext(all)':
    'prefix': 'SetShellVarContext(all)'
    'body': 'SetShellVarContext(all)$1'
  'SetShellVarContext(current)':
    'prefix': 'SetShellVarContext(current)'
    'body': 'SetShellVarContext(current)$1'
  'SetSilent()':
    'prefix': 'SetSilent()'
    'body': 'SetSilent(${1:value})$2'
  'SetSilent(normal)':
    'prefix': 'SetSilent(normal)'
    'body': 'SetSilent(normal)$1'
  'SetSilent(silent)':
    'prefix': 'SetSilent(silent)'
    'body': 'SetSilent(silent)$1'
  'ShowWindow()':
    'prefix': 'ShowWindow()'
    'body': 'ShowWindow(${1:hwnd}, ${2:value})$3'
  'Sleep()':
    'prefix': 'Sleep()'
    'body': 'Sleep(${1:sleeptime_in_ms})$2'
  'StrCmp()':
    'prefix': 'StrCmp()'
    'body': 'StrCmp(${1:str1}, ${2:str2}, ${3:jump_if_equal}${4:, ${5:jump_if_val1_less}})$6'
  'StrCpy()':
    'prefix': 'StrCpy()'
    'body': 'StrCpy(${1:str}${2:, ${3:maxlen}${4:, ${5:start_offset}}})$6'
  'StrLen()':
    'prefix': 'StrLen()'
    'body': 'StrLen(${1:str})$2'
  'UnRegDLL()':
    'prefix': 'UnRegDLL()'
    'body': 'UnRegDLL("${1:dllfile}")$2'
  'Var':
    'prefix': 'Var'
    'body': 'Var ${1:user_vars}$2'
  'WordFind()':
    'prefix': 'WordFind()'
    'body': 'WordFind("${1:string}", "${2:options}", "${3:delimiter1}"${4:, "${5:delimiter2}"${6:, "${7:center}"}})$8'
  'WordFindS()':
    'prefix': 'WordFindS()'
    'body': 'WordFindS("${1:string}", "${2:options}", "${3:delimiter1}"${4:, "${5:delimiter2}"${6:, "${7:center}"}})$8'
  'WordReplace()':
    'prefix': 'WordReplace()'
    'body': 'WordReplace("${1:string}", "${2:word1}", "${3:word2}", "${4:options}")$5'
  'WordReplaceS()':
    'prefix': 'WordReplaceS()'
    'body': 'WordReplaceS("${1:string}", "${2:word1}", "${3:word2}", "${4:options}")$5'
  'WriteINIStr()':
    'prefix': 'WriteINIStr()'
    'body': 'WriteINIStr("${1:ini_filename}", "${2:section_name}", "${3:entry_name}", "${4:value}")$5'
  'WriteRegBin()':
    'prefix': 'WriteRegBin()'
    'body': 'WriteRegBin("${1:root_key}", "${2:subkey}", "${3:key_name}", "${4:value_data}")$5'
  'WriteRegDWORD()':
    'prefix': 'WriteRegDWORD()'
    'body': 'WriteRegDWORD("${1:root_key}", "${2:subkey}", "${3:key_name}", "${4:value}")$5'
  'WriteRegExpandStr()':
    'prefix': 'WriteRegExpandStr()'
    'body': 'WriteRegExpandStr("${1:root_key}", "${2:subkey}", "${3:key_name}", "${4:value}")$5'
  'WriteRegStr()':
    'prefix': 'WriteRegStr()'
    'body': 'WriteRegStr("${1:root_key}", "${2:subkey}", "${3:key_name}", "${4:value}")$5'
  'WriteUninstaller()':
    'prefix': 'WriteUninstaller()'
    'body': 'WriteUninstaller("${1:path}.exe")$2'
